* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: 'Signika', sans-serif;
  background-image: linear-gradient(to right bottom, #228be6, #0ca678);
  /* background-color: #0ca678; */
  height: 100vh;
  background-repeat: no-repeat;
  color: #333;
}

/* header styles : */
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 1.2rem; */
}
.header-primary {
  color: #f1f3f5;
  text-align: center;
  font-size: 2.6rem;
  width: 50%;
  padding: 1.4rem 2.4rem;
  background-color: #bcc4cac9;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.header-secondary {
  font-size: 1.8rem;
  padding: 1.2rem 0;
  color: #ffd43b;
}

/* Game area section : */

.game-section {
  padding: 0 4rem;
}
.header-info {
  text-align: center;
  font-size: 1.4rem;
}
.game-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.game-info {
  background-color: #f1f3f58c;
  /* max-width: 20rem; */
  /* height: 12rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
}
.player-name {
  font-size: 1.6rem;
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.6rem;
  /* background-color: #228be6; */
  border: 3px solid #1c7ed6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.player-score {
  font-size: 3.8rem;
}
.playing {
  width: 10rem;
  height: 10rem;
  justify-self: center;
  align-self: center;
  /* background-color: #333; */
}
.playing-img {
  width: 100%;
  height: 100%;
}
.game-on-header {
  font-size: 1.5rem;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0;
}
.game-buttons {
  margin-top: 1.2rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.btn,
.btn-game {
  background-color: #f1f3f5bd;
  padding: 0.8rem 1.8rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms;
}
.btn-game:hover {
  color: #f1f3f5;
  background-color: #0ca678;
}
.btn-game {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-reset:hover {
  background-color: #1c7ed6;
  color: #f1f3f5;
}
.playing-btns {
  display: flex;
  gap: 1.8rem;
}

.hidden {
  display: none;
}
.hide-texts {
  color: rgba(255, 255, 255, 0);
}

.win-state {
  background-color: #34d30ca2;
}
.lose-state {
  background-color: #d30c0ca2;
}
