* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Signika", sans-serif;
  background-image: linear-gradient(to right bottom, #228be6, #0ca678);
  /* background-color: #0ca678; */
  height: 100vh;
  background-repeat: no-repeat;
  color: #333;
}

.primary--heading {
  font-size: 2.4rem;
}

.btn {
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
}
